body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #CACACA;
}

.banner-coloum{
    background-color: #708090;
}

.navbar-container{
    background-color: #2F4F4F;
}

.about-container{
    background-color: lightslategrey;
}

.about-col-8{
    text-align: justify;
}

.about-profile{
    height: 242px;
    width: 257px;
}

.education-container{
    background-color: peru;
}

.circle{
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align:center;
}